* {
    margin: 0;
    padding: 0;

}

nav {

    display: flex;
    width: 100%;
    height: 100px;
    background-color: lightgray;
    align-items: center;

}


nav ul {
    display: flex;
    list-style: none;

}

li a {


    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    border-radius: 25px;
    background-color: red;
    transform: rotate(360deg);
    transition: 2s linear 1ms;

}

.hireme:hover {
    background-color: orangered;
    padding: 20px 35px;
    border: none;
    border-radius: 25px;
    transform: rotate(360deg);
    transition: 9s;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;


}